@font-face {
	font-family: 'Inter Black';
	src: url('./assets/fonts/Inter-Black.ttf') local('Inter Black');
}

@font-face {
	font-family: 'Inter Regular';
	src: url('./assets/fonts/Inter-Regular.ttf') local('Inter Regular');
}

@font-face {
	font-family: 'Inter SemiBold';
	src: url('./assets/fonts/Inter-SemiBold.ttf') local('Inter SemiBold');
}

* {
	margin: 0;
	padding: 0;
}

body {
  margin: 0;
}

code {
  font-family: 'Inter Regular', Consolas, 'Courier New', monospace;
}

div {
	display: flex;
}

button {
	cursor: pointer;
}
